header
  padding: 10px 0
  margin-bottom: 10px
  display: flex
  justify-content: space-between

.header-title
  line-height: 1.35em
  text-align: center

.back
  a
    color: black

.settings-invites-link
  display: flex
  justify-content: space-between
